
@font-face {
  font-family: 'Gingham';
  src: url('Gingham.woff2') format('woff2');
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.item{
  color: gray;
  padding-left: 1em;
}
.banner {
  margin-top: 45px;
  background-image: url("./Images/poster.jpg");
}

h1 {
  color: white;
  opacity: .56;
  font-family: 'Gingham';
  text-transform: uppercase;
  font-variation-settings: "wght" 700, "wdth" 150;
  font-size: 69px;
}

p{
  color: white;
  opacity: .75;
  font-family: 'Gingham';
  text-transform: uppercase;
  font-variation-settings: "wght" 0, "wdth" 0;
  font-size: 30px;
}
